doctype html
html
  head
    title= title
<<<<<<< HEAD
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    block content 
=======
    link(rel='stylesheet'href='stylesheets/style.css')
  body
    block content
>>>>>>> iss53
